# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# NPM
node_modules
npm-debug.log
.cache-loader
.nyc_output

# IDEs stuff
.idea

# Temporary files
*.js
*.d.ts
